@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 91%;
    --foreground: 223 39% 16%;
    --card: 240 5% 96%;
    --card-foreground: 223 39% 16%;
    --popover: 240 5% 96%;
    --popover-foreground: 223 39% 16%;
    --primary: 223 39% 26%;
    --primary-foreground: 240 5% 98%;
    --secondary: 240 5% 85%;
    --secondary-foreground: 223 39% 26%;
    --muted: 240 5% 88%;
    --muted-foreground: 240 4% 46%;
    --accent: 263 44% 63%;
    --accent-foreground: 240 5% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 85%;
    --input: 240 5% 88%;
    --ring: 263 44% 63%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 223 39% 10%;
    --foreground: 240 5% 91%;
    --card: 223 39% 12%;
    --card-foreground: 240 5% 91%;
    --popover: 223 39% 12%;
    --popover-foreground: 240 5% 91%;
    --primary: 240 5% 91%;
    --primary-foreground: 223 39% 16%;
    --secondary: 223 39% 20%;
    --secondary-foreground: 240 5% 91%;
    --muted: 223 D39% 20%;
    --muted-foreground: 240 5% 63%;
    --accent: 263 44% 63%;
    --accent-foreground: 240 5% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 39% 20%;
    --input: 223 39% 20%;
    --ring: 263 44% 73%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
